@charset "UTF-8";

.nav{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
}

.nav_wrapper{
	/* 최소한의 크기 지정 */
	min-width: 200px;
	/* 화면 기준 전체 높이 (100%) */
	min-height: 100vh;
	background-color: #f0f0f0;
	list-style-type: none;
	padding-top: 80px;
}

.nav_wrapper li{
	display: flex;
	padding: 10px 16px;
}

.nav_wrapper li:hover{
	background-color: lightgray;
}

.nav_icon{
	border: none;
	/* transparent : 배경색을 투명하게 / none : 배경색 삭제*/
	background-color: transparent;
	font-size: 1.5rem;
}

.nav_menu{
	border: none;
	/* transparent : 배경색을 투명하게 / none : 배경색 삭제*/
	background-color: transparent;
	font-size: 1.1rem;
}

/* 800px 미만이면 로고가 없어진다 */
@media screen and (max-width: 800px) {
	.nav_menu{display: none;}
	/* nav_wrapper에 position: fixed 적용하여 위치가 고정됨, 전체 픽셀의 크기가 줄어들 떄 고정된 위치도 줄어들 수 있게 최소값을 준 것임 */
	.nav_wrapper{min-width: 50px;}
}

/* 510px 미만이면 로고가 없어진다 */
@media screen and (max-width: 510px) {
	.nav_wrapper{display: none;}
}
